/* * {
    box-sizing: border-box;
    margin: 20px;
} */
body {
    background-color: #f4f9fc;
}
.header h1 {
    color: #0f1b61;
    font-size: 180px;
    text-align: left;
}
.header span {
    font-size: 80px;
    line-height: 10px;
}

.navigation{
    position: sticky;
    width: 120px;
    color: #7f00e0;
}

.descr__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background-color: #ceeaed;
    padding: 0 auto;
    margin: 20px; 
}

.descr__text{
    font-size: 24px;
    margin:  auto 0;
    line-height: 28px;
    font-weight: 500;
}
.descr__text span {
    color: #7f00e0;
    font-weight: 520;
}

.descr__photo img {
    display: block;
    margin: 10px auto 0 auto;
    width: 300px;
    height: auto;
}

.connect__wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
}

